@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;900&family=Rubik:wght@300;400;500;700;900&display=swap');


* {
    color: #E4E4E4;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

body {
    background-color: #18181B;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: 15px; /* Ширина всего элемента навигации */
}
  
body::-webkit-scrollbar-track {
    background: #18181B; /* Цвет дорожки */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #212124; /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
    border: 3px solid #333338; /* Оформление границ бегунка */
}





main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 100px;
}


.warning a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
}

.warning a:hover{
    text-decoration: underline;
}

.warning img{
    max-width: 40px;
}