@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;900&family=Rubik:wght@300;400;500;700;900&display=swap');


* {
    color: #E4E4E4;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

body {
    background-color: #18181B;
}

body::-webkit-scrollbar {
    width: 15px; /* Ширина всего элемента навигации */
}
  
body::-webkit-scrollbar-track {
    background: #18181B; /* Цвет дорожки */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #212124; /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
    border: 3px solid #333338; /* Оформление границ бегунка */
}












.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    flex-grow: 1;
}

header {
    flex-shrink: 0;
}

footer {
    flex-shrink: 0;
}

















/* MAIN */

.wrapper-inside {
    margin: 0px 357px;
}


.main-img {
    height: 416px;
    background-color: #212124;
    border-radius: 30px;
    margin: 0px 50px;
}

.info-box {
    width: 100%;
}

.text-box {
    max-width: 563px;
}

.text-box h1 {
    color: #73C398;
    font-size: 36px;
}













































/* footer */

footer {
    background-color: #212124;
    border-top: 1px solid #262626;
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
    font-family: 'Nunito', sans-serif;

}

.links {
    display: flex;
    margin-bottom: 5px;
}

.eagle {
    display: flex;
    height: 30px;
}

.img-logo {
    margin-right: 8px;
}

.img-logo img{
    height: 30px;
}

.name {
    height: 30px;
}

.name p{
    font-size: 16px;
    margin: 0;
    height: 15px;
}

.name p:not(:last-child) {
    margin-bottom: 2px;
}

.media {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d {
    height: 30px;
}

.o {
    height: 43px;
}

.f {
    width: 36px;
}

.media a:not(:first-child) {
    margin-left: 28px;
}

.contacts-media {
    margin-bottom: 17px;
}

.contacts-media a{
    color: #E4E4E4;
    text-decoration: none;
    font-size: 16px;
}

.contacts-media a:not(:last-child){
    margin-right: 12px;
}

.spoiler p{
    color: #ABABAE;
    font-size: 16px;
    line-height: 0px;
    height: 16px;
}


@media (max-width: 950px) {
    footer {
        display: none;
    }
}
